@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');


@font-face {
	font-family: 'jelani';
	src: url('/fonts/jelani.otf'),
		 url('/fonts/jelani.woff') format('woff');
}

$base-color: #000;
$text-color: #fff;
$homelink-color: #ffbb3c;
$font-stack: 'Josefin Sans', sans-serif;

